@font-face {
    font-family: 'hussarbd';
    src:
        url('../../assets/Fonts/hussarbd.otf') format('opentype'),
        url('../../assets/Fonts/hussarbd.ttf') format('truetype');
}

.contact-holder {
    font-family: 'hussarbd';
    height: 100vh;
    background-color: black;
}

.email-container {
    font-family: 'hussarbd';
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30%;
}

.field {
    font-family: 'hussarbd';
    margin-top: 25%;
}

button {
    font-family: 'hussarbd';
    width: 25%;
    margin-left: 75%;
    color: rgba(255, 255, 255, 0.7);
}

.email-field {
    color: #c2185b;
    font-family: 'hussarbd';
}
