<div class='contact-holder'>
    <div class='email-container'>
        <mat-form-field class='field'>
            <input matInput class='email-field' placeholder='Your email'>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput class='email-field' placeholder="Your message" minRows='10'></textarea>
        </mat-form-field>
        <button mat-button>Submit</button>

        <div style='color: #c2185b; padding-top: 15em; text-align: justify'>
            Template created from scratch using Angular by Stefanos Panagiotis Argyriou. Graphics provided by George Kolokas (Huntsman Graphics). If you wish to use this template or you would like me to craft your website, send me a message at stargirio2@yahoo.gr.
        </div>
    </div>
</div>