@font-face {
    font-family: 'Gothic';
    src: url('../../assets/Fonts/gothic.ttf') format('truetype');
}

.logo {
    margin-top: 18%;
}

.footer {
    margin-top: 10%;
    display: flex;
    flex-direction: column;

    .name {
        margin-bottom: 1%;
        font-family: 'Gothic';
        letter-spacing: 5px;
        color: rgba(255, 255, 255, 0.4);
    }
}

.rotate {
    -webkit-animation: spin 1.2s infinite linear;
    animation: spin 1.2s infinite linear;
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}